/* Media Queries Desktop grande */
@media (min-width: 1600px) {

  /*Seccion Informativa - Cómo Funciona*/
  .seccionInformativa1 {
    margin-top: 10rem;
  }

  .imgInformativa1 {
    width: 90%;
  }

  .contenedorComoFunciona {
    padding: 8rem;
  }

  /*Seccion Informativa - Por qué OlaGO*/

  .seccionInformativa2 {
    margin-top: 4rem;
    margin-bottom: 6rem;
    justify-content: space-evenly;
  }

  .imgInformativa2 {
    width: 500px;
  }

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* Media Queries Desktop típica */
@media (max-width: 1440px) {

  /*Seccion Informativa - Cómo Funciona*/
  .seccionInformativa1 {
    margin-top: 3rem;
  }

  .contenedorComoFunciona {
    padding: 4rem, 3rem;
  }

  /*Seccion Informativa - Por Qué OlaGo*/
  .seccionInformativa2 {
    margin-bottom: 4rem;
    gap: 5rem;
  }

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* Media Queries tablet */
@media (max-width: 992px) {

  /*Navbar*/

  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.82);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    transition: none;
  }

  .navbar-collapse.show {
    position: absolute;
    top: 8rem;
    left: 0;
    padding: 1rem 2rem;
    z-index: 1029;
  }

  .navbar .nav-link {
    font-size: larger;
  }

  .contenedorPasos {
    flex-direction: column;
    padding: 1.5rem;
  }

  .navbar-toggler {
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: none;
  }

  .imagenCentro {
    order: -1;
    /* muevo la img hacia arriba*/
    margin: 1rem 0;
    padding: 0;
  }

  .imagenCentro img {
    max-width: 200px;
  }

  .columnaPasos {
    gap: 1rem;
  }

  /*Seccion Informativa - Cómo funciona*/

  .seccionInformativa1 {
    flex-direction: column;
  }

  .contenedorComoFunciona {
    padding: 5rem 7rem 3rem 7rem;
    text-align: center;
  }

  .botonComoFunciona {
    margin: auto;
  }

  .contenedorImgInformativa1 {
    display: flex;
    justify-content: center;
  }

  .imgInformativa1 {
    width: 60%;
  }

  /*Seccion Informativa - Por Que OlaGo*/

  .seccionInformativa2 {
    flex-direction: column-reverse;
    margin-top: 4rem;
    gap: 0;
  }

  .seccionInformativa2 h2 {
    text-align: center;
  }

  /*registerpage*/

  .register-container {
    flex-direction: column;
  }

  .image-section {
    order: -1;
    height: 300px;
  }

  .form-section {
    padding: 40px 20px;
  }
}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
/* ParaCelulares */
@media (max-width: 768px) {

  /*Seccion Informativa*/
  .seccionInformativa1 {
    padding: 0;
  }

  .contenedorImgInformativa1,
  .contenedorImgInformativa2 {
    display: flex;
    justify-content: center;
  }

  .imgInformativa1 {
    width: 55%;
  }

  .imgInformativa2 {
    width: 50%;
  }

  /*---*/

  .CompartirViaje {
    padding: 1.5rem;
  }

  .tituloPrincipal {
    font-size: 1.5rem;
  }

  .botonUsuario {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin: 0 0.3rem;
  }

  .paso {
    padding: 1.2rem;
  }

  .paso h3 {
    font-size: 1.1rem;
  }

  .paso p {
    font-size: 0.85rem;
  }

  .contenedorContenidoDinamico {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  /* .contenedorContenidoDinamico img {
        display: none;
    }
  */

  .reseñasSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*Footer*/

  .primerElementoFooter p {
    font-weight: 500;
    font-size: 1.3rem;
  }

  .segundoElementoFooter p {
    font-size: 1.7rem;
  }

  .heroPasajeroPage {
    height: 400px;
    margin-top: 5rem;
  }

  .heroPasajeroPage h1 {
    font-size: 6rem;
  }

  .heroPasajeroPage h2 {
    font-size: 1.5rem;
    max-width: 500px;
  }

  .heroPasajeroPage button {
    height: 40px;
    width: 180px;
    font-size: 1rem;
  }

  .containerBuscador {
    flex-direction: column;
    gap: 2rem;
  }

  .text-image {
    max-width: 100%;
  }

  .text-image h1 {
    font-size: 1.8rem;
  }

  .text-image img {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form-box {
    width: 100%;
    padding: 1.5rem;
  }

  .form-box form {
    gap: 0.8rem;
  }

  .form-box label {
    font-size: 0.85rem;
  }

  .form-box input[type="text"],
  .form-box input[type="date"] {
    padding: 0.5rem;
    font-size: 0.9rem;
  }

  .checkboxes {
    font-size: 0.8rem;
  }

  button {
    padding: 0.6rem;
    font-size: 0.9rem;
  }

  /* creo que la seccion de la cards ya está responsive */

  /* seccion de .Faqs */
  .Faqs {
    padding: 1rem 0.5rem;
  }

  .Faqs h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .accordion {
    margin-bottom: 1rem;
  }

  .accordion-item {
    margin-bottom: 1rem;
  }

  .accordion-button {
    font-size: 1rem;
  }

  .accordion-body {
    font-size: 0.9rem;
  }


  /*---*/

  .sectionMensaje404 {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contenedor404 img {
    width: 80%;
  }

  .contenedor404 h1 {
    font-size: 2rem;
  }

  .contenedor404 p {
    font-size: 1rem;
  }

}

/*------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 576px) {
  .imgInformativa1 {
    width: 70%;
  }

  .contenedorPorQueOlaGo {
    flex-direction: column;
    padding: 0rem 3rem;
  }

  .botonesTipoUsuario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .botonUsuario {
    width: 80%;
    margin: 0;
  }

  .tarjetaContenido {
    border-radius: 12px;
  }

  .paso {
    padding: 1rem;
  }

  .icono {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
  }

  /*Footer*/
  .primerElementoFooter p {
    font-weight: 500;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .segundoElementoFooter p {
    font-size: 1rem;
  }

  .tercerElementoFooter {
    margin: 25px 0px 0px 25px
  }

  .contenedorEmpresa,
  .contenedorCompartirAuto,
  h4 {
    font-size: large;
  }

  /* registerPage */

  input[type="email"],
  input[type="password"] {
    font-size: 14px;
    padding: 10px;
  }

  button[type="submit"] {
    padding: 12px;
  }

  .form-section h2 {
    font-size: 22px;
  }

  /*Sección nosDestacamos--------------------*/
  .beneficio {
    flex-direction: column;
    align-items: center;
    margin-left: 0%;
    padding-bottom: 5%;
  }

  .textoBeneficio {
    width: 115%;
  }

  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  .imgDestacamos {
    width: 110%;
  }

  /* PAGE SOY CONDUCTOR */
  .publicarViaje {
    width: 90%;
    padding-top: 2%;
  }

  .publicarViaje form {
    flex-direction: column;
    gap: 1rem;
  }

  .campo {
    width: 100%;
    /* Una sola columna */
  }


  /* Page quienes somos -------------------------------------------------*/
  .grupo {
    flex-direction: column;
    gap: 2rem;
  }

  .integrante {
    flex-direction: column;
    /* imagen arriba, texto abajo */
    text-align: center;
  }

  .imgIntegrante {
    margin-bottom: 0.5rem;
  }

  .valoresEmpresa {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textoValoresEmpresa {
    width: 90%;
    text-align: center;
  }

  .imgTeamQuienesSomos {
    width: 80%;
    margin-top: 1.5rem;
  }

  .tituloValores {
    font-size: 1.3rem;
  }

  .oracionValores {
    font-size: 0.95rem;
  }

  .checkboxViaje {
    justify-content: flex-start;
  }

  .publicarViaje button {
    width: 100%;
    padding: 0.8rem;
    font-size: 1.1rem;
  }

  .publicarViajeImg {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    display: block;
  }


  .textoPublicarViaje h5,
  .textoPublicarViaje p {
    padding-bottom: 2%;
    font-size: 1rem;
  }
}





/* muy jerigna para el celular pequeños */
/* @media (max-width: 400px) {

  .contenedorComoFunciona {
    padding: 3rem 4rem;

  }

  .tituloPrincipal {
    font-size: 1.3rem;
  }

  .imagenCentro img {
    max-width: 180px;
  }

  .paso {
    padding: 0.8rem;
  }
} */