/* Media Queries Desktop grande */
@media (min-width: 1600px) {

  /*Seccion Informativa - Cómo Funciona*/
  .seccionInformativa1 {
    margin-top: 10rem;
  }

  .imgInformativa1 {
    width: 90%;
  }

  .contenedorComoFunciona {
    padding: 8rem;
  }

  /*Seccion Informativa - Por qué OlaGO*/

  .seccionInformativa2 {
    margin-top: 4rem;
    margin-bottom: 6rem;
    justify-content: space-evenly;
  }

  .imgInformativa2 {
    width: 500px;
  }

}

/* Media Queries Desktop típica */
@media (max-width: 1440px) {

  /*Seccion Informativa - Cómo Funciona*/
  .seccionInformativa1 {
    margin-top: 3rem;
  }
  .contenedorComoFunciona {
    padding: 4rem, 3rem;
  }

  /*Seccion Informativa - Por Qué OlaGo*/
  .seccionInformativa2 {
    margin-bottom: 4rem;
    gap: 5rem;
  }

}


/* Media Queries tablet */
@media (max-width: 992px) {

  /*Navbar*/

  .navbar-collapse {
    background-color: rgba(255, 255, 255, 0.82);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 100%;
    transition: none;
  }

  .navbar-collapse.show {
    position: absolute;
    top: 8rem;
    left: 0;
    padding: 1rem 2rem;
    z-index: 1029;
  }

  .navbar .nav-link {
    font-size: larger;
  }

  .contenedorPasos {
    flex-direction: column;
    padding: 1.5rem;
  }

  .navbar-toggler {
    padding: 0.5rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: none;
  }

  .imagenCentro {
    order: -1;
    /* muevo la img hacia arriba*/
    margin: 1rem 0;
    padding: 0;
  }

  .imagenCentro img {
    max-width: 200px;
  }

  .columnaPasos {
    gap: 1rem;
  }

  /*Seccion Informativa - Cómo funciona*/

  .seccionInformativa1 {
    flex-direction: column;
  }

  .contenedorComoFunciona {
    padding: 5rem 7rem 3rem 7rem;
    text-align: center;
  }

  .botonComoFunciona {
    margin: auto;
  }

  .contenedorImgInformativa1 {
    display: flex;
    justify-content: center;
  }

  .imgInformativa1 {
    width: 60%;
  }

  /*Seccion Informativa - Por Que OlaGo*/

  .seccionInformativa2 {
    flex-direction: column-reverse;
    margin-top: 4rem;
    gap: 0;
  }

  .seccionInformativa2 h2 {
    text-align: center;
  }

  /*---*/
}

/* ParaCelulares */

@media (max-width: 768px) {

  /*Seccion Informativa*/
  .seccionInformativa1 {
    padding: 0;
  }

  .contenedorImgInformativa1,
  .contenedorImgInformativa2 {
    display: flex;
    justify-content: center;
  }

  .imgInformativa1 {
    width: 55%;
  }

  .imgInformativa2 {
    width: 50%;
  }

  /*---*/

  .CompartirViaje {
    padding: 1.5rem;
  }

  .tituloPrincipal {
    font-size: 1.5rem;
  }

  .botonUsuario {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    margin: 0 0.3rem;
  }

  .paso {
    padding: 1.2rem;
  }

  .paso h3 {
    font-size: 1.1rem;
  }

  .paso p {
    font-size: 0.85rem;
  }

  .contenedorContenidoDinamico {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  /* .contenedorContenidoDinamico img {
        display: none;
    }
  */

  .reseñasSeccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  /*Footer*/

  .primerElementoFooter p {
    font-weight: 500;
    font-size: 1.3rem;
  }

  .segundoElementoFooter p {
    font-size: 1.7rem;
  }


}

@media (max-width: 576px) {
  .imgInformativa1 {
    width: 70%;
  }

  .contenedorPorQueOlaGo {
    flex-direction: column;
    padding: 0rem 3rem;
  }

  .botonesTipoUsuario {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .botonUsuario {
    width: 80%;
    margin: 0;
  }

  .tarjetaContenido {
    border-radius: 12px;
  }

  .paso {
    padding: 1rem;
  }

  .icono {
    font-size: 1.8rem;
    margin-bottom: 0.7rem;
  }

  /*Footer*/
  .primerElementoFooter p {
    font-weight: 500;
    font-size: 0.7rem;
    margin-bottom: 1rem;
  }

  .segundoElementoFooter p {
    font-size: 1rem;
  }

  .tercerElementoFooter {
    margin: 25px 0px 0px 25px
  }

  .contenedorEmpresa,
  .contenedorCompartirAuto,
  h4 {
    font-size: large;
  }

}

/* muy jerigna para el celular pequeños */
/* @media (max-width: 400px) {

  .contenedorComoFunciona {
    padding: 3rem 4rem;

  }

  .tituloPrincipal {
    font-size: 1.3rem;
  }

  .imagenCentro img {
    max-width: 180px;
  }

  .paso {
    padding: 0.8rem;
  }
} */